@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* 
.home, */
.reports,
.products,
.team {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

body {
  background-image: url("../public/images/image9.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* CSS */
.landing-page {
  background-image: url("../public/images/image10.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.landing-page img {
  width: 100vw;
  height: 100vh;
}

.landing-page h1 {
  text-align: center;
  color: rgb(245, 245, 245);
  font-size: 100px;
  opacity: 0; /* Initially set to transparent */
  animation: fadeIn 1s forwards; /* Apply the animation */
}

.landing-page-link {
  text-decoration: none;
  transition: transform 0.3s ease; /* Transition for smoother animation */
}

.landing-page-link:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add this to your CSS */
.login-register-form {
  background-image: url("../public/images/achbody_bg.png");
  background-size: cover;
  background-position: center;
  opacity: 0; /* Initially set to transparent */
  animation: fadeIn 1s forwards; /* Apply the animation */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #a76dff;
  border: 1px solid #000000; /* Border */
  box-shadow: 0 4px 8px rgba(142, 22, 22, 0.1); /* Box shadow */
  padding: 20px; /* Padding for better spacing */
}

.login-register-box {
  width: 30%;
}

.specific-dealer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 10px;
}

.specific-dealer-container h1 {
  text-transform: uppercase;
  margin-bottom: 35px;
}

.table-container {
  width: 94%;
  margin: 0 auto; /* Center the table */
  z-index: -1;
}
.table-container h2 {
  margin: 70px 0 20px 0;
  font-size: 25px;
}

@media (max-width: 768px) {
  .login-register-box {
    width: 70%; /* Adjust width for smaller screens */
  }
}
@media (max-width: 480px) {
  .login-register-box {
    width: 90%; /* Adjust width for smaller screens */
  }
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.manufacturer-link {
  text-decoration: none;
}
.manufacturer-span {
  margin: 0;
  text-decoration: none;
}

.manufacturer-click-for-more-info {
  margin-top: 90px;
  margin-left: 40px;
  font-size: 25px;
  text-transform: uppercase;
}

.manufacturer-title h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
}

.table-container h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

/* loader style */
#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#h3 {
  color: white;
}

#ring {
  width: 190px;
  height: 190px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
}

#ring:nth-child(1) {
  border-bottom: 8px solid rgb(255, 141, 249);
  animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
  from {
    transform: rotateX(50deg) rotateZ(110deg);
  }

  to {
    transform: rotateX(50deg) rotateZ(470deg);
  }
}

#ring:nth-child(2) {
  border-bottom: 8px solid rgb(255, 65, 106);
  animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }

  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
  }
}

#ring:nth-child(3) {
  border-bottom: 8px solid rgb(0, 255, 255);
  animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
  from {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
  }

  to {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
  }
}

#ring:nth-child(4) {
  border-bottom: 8px solid rgb(252, 183, 55);
  animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
  from {
    transform: rotateX(70deg) rotateZ(270deg);
  }

  to {
    transform: rotateX(70deg) rotateZ(630deg);
  }
}

.swing div {
  border-radius: 50%;
  float: left;
  height: 1em;
  width: 1em;
}

.swing div:nth-of-type(1) {
  background: -webkit-linear-gradient(left, #385c78 0%, #325774 100%);
  background: linear-gradient(to right, #385c78 0%, #325774 100%);
}

.swing div:nth-of-type(2) {
  background: -webkit-linear-gradient(left, #325774 0%, #47536a 100%);
  background: linear-gradient(to right, #325774 0%, #47536a 100%);
}

.swing div:nth-of-type(3) {
  background: -webkit-linear-gradient(left, #4a5369 0%, #6b4d59 100%);
  background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
}

.swing div:nth-of-type(4) {
  background: -webkit-linear-gradient(left, #744c55 0%, #954646 100%);
  background: linear-gradient(to right, #744c55 0%, #954646 100%);
}

.swing div:nth-of-type(5) {
  background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
  background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}

.swing div:nth-of-type(6) {
  background: -webkit-linear-gradient(left, #c33f31 0%, #d83b27 100%);
  background: linear-gradient(to right, #c33f31 0%, #d83b27 100%);
}

.swing div:nth-of-type(7) {
  background: -webkit-linear-gradient(left, #da3b26 0%, #db412c 100%);
  background: linear-gradient(to right, #da3b26 0%, #db412c 100%);
}

.shadow {
  clear: left;
  padding-top: 1.5em;
}

.shadow div {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  float: left;
  width: 1em;
  height: 0.25em;
  border-radius: 50%;
  background: #e3dbd2;
}

.shadow .shadow-l {
  background: #d5d8d6;
}

.shadow .shadow-r {
  background: #eed3ca;
}

@-webkit-keyframes ball-l53 {
  0%,
  50% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }

  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}

@keyframes ball-l53 {
  0%,
  50% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translateX(0);
  }

  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}

@-webkit-keyframes ball-r53 {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }

  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}

@keyframes ball-r53 {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }

  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}

@-webkit-keyframes shadow-l-n53 {
  0%,
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0.125;
    -webkit-transform: translateX(-1.57em);
    transform: translateX(-1.75em);
  }
}

@keyframes shadow-l-n53 {
  0%,
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0.125;
    -webkit-transform: translateX(-1.75);
    transform: translateX(-1.75em);
  }
}

@-webkit-keyframes shadow-r-n53 {
  0% {
    opacity: 0.125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }

  50%,
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes shadow-r-n53 {
  0% {
    opacity: 0.125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }

  50%,
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing-l {
  -webkit-animation: ball-l53 0.425s ease-in-out infinite alternate;
  animation: ball-l53 0.425s ease-in-out infinite alternate;
}

.swing-r {
  -webkit-animation: ball-r53 0.425s ease-in-out infinite alternate;
  animation: ball-r53 0.425s ease-in-out infinite alternate;
}

.shadow-l {
  -webkit-animation: shadow-l-n53 0.425s ease-in-out infinite alternate;
  animation: shadow-l-n53 0.425s ease-in-out infinite alternate;
}

.shadow-r {
  -webkit-animation: shadow-r-n53 0.425s ease-in-out infinite alternate;
  animation: shadow-r-n53 0.425s ease-in-out infinite alternate;
}
